*margin{
    margin: 0px;
    padding :0px;
    box-sizing:border-box;
}
.container1{
    width:100%;
    height:100vh;
    background: linear-gradient(60deg,blue,lightblue,white);
    display:flex;
    align-items:flex-start;
    justify-content: space-evenly;
}

.Image-1{
    animation-name: noodle-forward;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
.Image-2{
    animation-name: gobi-reverse;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
.Image-3 {
    animation-name: strips-forward;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
@keyframes noodle-forward{
    from{
        transform:rotate(0deg);

    }
    to{
        transform:rotate(360deg);
    }
    
}
@keyframes gobi-reverse{
    0%{
        transform:rotate(360deg);

    }
    100%{
        transform:rotate(0deg);
    }
    
}
@keyframes strips-forward{
    from{
        transform:rotate(0deg);

    }
    to{
        transform:rotate(360deg);
    }
    
}





.Image-4{
    animation-name: edli-forward;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
.Image-5{
    animation-name: dosa-reverse;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
.Image-6{
    animation-name: padu-forward;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
@keyframes edli-forward{
    from{
        transform:rotate(0deg);

    }
    to{
        transform:rotate(360deg);
    }
    
}
@keyframes dosa-reverse{
    0%{
        transform:rotate(360deg);

    }
    100%{
        transform:rotate(0deg);
    }
    
}
@keyframes padu-forward{
    from{
        transform:rotate(0deg);

    }
    to{
        transform:rotate(360deg);
    }
    
}