.body{
    margin-bottom: 100px;

}
h1{
    
    letter-spacing:5px;
    color:white;
    margin:30px;
    padding:20px;
    border-bottom: 10px;
    border-style: double;
    border-color: red;
    text-align: center;
    border-radius: 15px 5px 15px 5px;
    
    
}
.reg10{
    height:550px;
    width:350px;
    margin:20px auto;
    box-shadow:0px 0px 30px rgb(59, 58, 58);
    background: radial-gradient(circle, rgb(58, 164, 81),rgb(190, 58, 115),rgb(200, 216, 228));
    border-radius: 15px 5px 15px 5px;
   
    

}
.reg10 input{
    height:30px;
    width:270px;
    margin:10px ;
    border-radius: 0px 18px 0px 18px;
    border-left: 10px solid blueviolet;
    text-align: center;
    border-radius: 15px 5px 15px 5px;
}
h2{
    
    letter-spacing:5px;
    color:white;
    margin:30px;
    padding:20px;
    border-bottom: 10px;
    border-style: double;
    border-color: red;
    text-align: center;
    border-radius: 15px 5px 15px 5px;
    
}
.reg10:hover{
    transform: scale(1.05);
    background-color: blue;
    background: linear-gradient(45deg, blueviolet, pink, yellow );
    box-shadow: 12px 5px 5px lightseagreen;
}